In [1]:
import re 
import numpy as np
from textblob import TextBlob 
import matplotlib.pyplot as plt
import pandas as pd
from wordcloud import WordCloud
from better_profanity import profanity

In [3]:
df = pd.read_csv('../../dataset/tweets/tweet_santorini.csv')

/home/chiarap/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (0,1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,id,text,place_bounding_box,place_place_type,place_full_name,lang,geo_coordinates,user_location,user_screen_name,user_id,created_at,media,hashtags
0,0,1432463124179738624,RT @skyQY: Santorini sunset https://t.co/LN8U6...,no,NaN,NaN,in,NaN,no_location,sukhrajhere,1717979202,2021-08-30 21:59:57,yes,[]
1,1,1432463165556678658,RT @skyQY: Santorini sunset https://t.co/LN8U6...,no,NaN,NaN,in,NaN,no_location,moonlitcam,1244313113635295234,2021-08-30 22:00:07,yes,[]
2,2,1432463373778620419,RT @skyQY: Santorini sunset https://t.co/LN8U6...,no,NaN,NaN,in,NaN,Pan_pin_,20181018_p,1051309334678855680,2021-08-30 22:00:56,yes,[]
3,3,1432463930648141826,RT @mycharteryacht: M/Y ESTIA ZEUS (See Brochu...,no,NaN,NaN,en,NaN,"New Haven, CT",CHRISTINELEM007,3262097338,2021-08-30 22:03:09,no,[]
4,4,1432463949404983301,i’d rather be in santorini laying on the beach...,no,NaN,NaN,en,NaN,no_location,liii11n,1337394556581588994,2021-08-30 22:03:14,no,[]

In [5]:
df = df[['text','user_id']]

In [11]:
len(df)

221502

In [17]:
df = df[0:500]

In [18]:
tweet_list = df.text.to_list()

In [19]:
def clean_tweet(tweet):
    if type(tweet) == np.float:
        return ""
    r = tweet.lower()
    r = profanity.censor(r)
    r = re.sub("'", "", r) # This is to avoid removing contractions in english
    r = re.sub("@[A-Za-z0-9_]+","", r)
    r = re.sub("#[A-Za-z0-9_]+","", r)
    r = re.sub(r'http\S+', '', r)
    r = re.sub('[()!?]', ' ', r)
    r = re.sub('\[.*?\]',' ', r)
    r = re.sub("[^a-z0-9]"," ", r)
    r = r.split()
    stopwords = ["for", "on", "an", "a", "of", "and", "in", "the", "to", "from"]
    r = [w for w in r if not w in stopwords]
    r = " ".join(word for word in r)
    return r

In [20]:
cleaned = [clean_tweet(tw) for tw in tweet_list]

In [22]:
# Define the sentiment objects using TextBlob

sentiment_objects = [TextBlob(tweet) for tweet in cleaned]

In [23]:
sentiment_objects[0].polarity, sentiment_objects[0]

(0.0, TextBlob("rt santorini sunset"))

In [24]:
sentiment_values = [[tweet.sentiment.polarity, str(tweet)] for tweet in sentiment_objects]

# Print the value of the 0th row.

sentiment_values[0]
# Print all the sentiment values

sentiment_values[0:99]

[[0.0, 'rt santorini sunset'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt santorini sunset'],
 [0.4,
  'rt m y estia zeus see brochure 74ft 2003 2021 azimut available charter east'],
 [0.0, 'i d rather be santorini laying beach tanning rn'],
 [-0.2, 'missing island life santorini greece'],
 [0.0, 'la plus belle de toutes'],
 [0.0, 'rt 1 re photo santorini'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt solo quiero ir santorini y ver un atardecer'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'just posted photo santorini greece'],
 [0.0, 'just posted photo oia santorini greece'],
 [0.0, 'just posted photo santorini greece'],
 [0.5, 'lovely kettle there el capitano'],
 [0.0, 'they said her draws leaking santorini grease'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt contigo em bali santorini no mundo todo'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'hotels were invented reason'],
 [0.0, ''],
 [0.0, 'rt santorini sunset'],
 [0.0, 'no bar im out'],
 [0.0, 'rt i d rather be santorini laying beach tanning rn'],
 [0.0, 'rt they said her draws leaking santorini grease'],
 [0.0, 'rt contigo em bali santorini no mundo todo'],
 [0.0, 'necesito ir santorini y mykonos'],
 [-0.625,
  'grecia magia de islas griegas 895 atenas mykonos santorini 8 dias salida bcn mad agp y valc'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'been thinking about santorini lot'],
 [0.0, 'quero viajar'],
 [0.0, 'f cil jugadores del santorini futbol club es de segunda'],
 [0.0, 'still no bar im still out'],
 [0.0, 'rt 22'],
 [0.0, 'santorini me va si bien'],
 [0.0, 'as if'],
 [0.0, 'rt santorini sunset'],
 [0.2857142857142857, 'thas santorini right'],
 [0.0, 'santorini vibes'],
 [0.0, 'santorini'],
 [0.0,
  'rt champions e calcio europeo allora chiamate raccontarci i tramonti di'],
 [0.0,
  'lord padaanin nyo naman po sa santorini si aron piper nagmamakaawa po ako'],
 [0.0, 'rt santorini sunset'],
 [0.5,
  'ok moi jsuis all ath nes santorini et paros donc je connais pas mais bonnes vacances mon reuf tu ver'],
 [0.0, ''],
 [0.0, 'she s living my dreams'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'das leben lehrt das lachen korrigiert'],
 [0.0, ''],
 [0.13636363636363635,
  'rt tony aka fingerprint has new track with spencer brown santorini is out now explorations 17 listen'],
 [0.0, 'rt santorini gr cia'],
 [0.3333333333333333, 'super we were there'],
 [-0.125,
  'her thinking about other option i d be santorini while she s at altar'],
 [0.0, 'rt santorini'],
 [0.0,
  'rt lord padaanin nyo naman po sa santorini si aron piper nagmamakaawa po ako'],
 [0.5,
  'rt ok moi jsuis all ath nes santorini et paros donc je connais pas mais bonnes vacances mon reuf tu verras les'],
 [-0.125,
  'rt her thinking about other option i d be santorini while she s at altar'],
 [0.0, 'rt necesito ir santorini y mykonos'],
 [-0.024999999999999994,
  'at this weekend i plan watch dark comedies type movie then i will read book named lt into wild gt i ca'],
 [0.9, 'rt incredible santorini greece'],
 [0.0, 'rt solo quiero ir santorini y ver un atardecer'],
 [0.0, 'gotta get santorini'],
 [0.0, 'rt santorini blue'],
 [0.9, 'rt incredible santorini greece'],
 [0.0, 'rt santorini sunset'],
 [0.0,
  'eh jai pas les mots cest beau cest tout voil cest cadeau je partage la famine'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt solo quiero ir santorini y ver un atardecer'],
 [0.5, 'magic santorini'],
 [0.0, 'rt solo quiero ir santorini y ver un atardecer'],
 [0.0,
  'anlamak istemeyen ve hayal aleminde ya ayan sizlersiniz ak n n 4 5 y ll k m kemmel bir il'],
 [0.5, 'can i skip part where im santorini with love my life already'],
 [0.5, 'can i skip part where im santorini with love my life already'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'vou fugir o santorini'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'en santorini con james arthur'],
 [0.0,
  'rt anlamak istemeyen ve hayal aleminde ya ayan sizlersiniz ak n n 4 5 y ll k m kemmel bir ili kisi v'],
 [0.5, 'rt can i skip part where im santorini with love my life already'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'rt santorini blue'],
 [0.0, 'rt santorini greece'],
 [0.0,
  'demain elle 5000 nouveaux followers qui vont esp rer la serrer et qui auront meme pas un followback'],
 [0.0, 'skydome santorini'],
 [0.0,
  'kamari beach la playa m s famosa para disfrutar en tu visita santorini praia de kamari praia mais famos'],
 [0.0, 'rt santorini sunset'],
 [0.0,
  'carter c est un ouf il fait des directs twitter sur le mercato alors qu il est santorini'],
 [0.0,
  'rt carter c est un ouf il fait des directs twitter sur le mercato alors qu il est santorini'],
 [0.0, 'rt 1 re photo santorini'],
 [0.0, 'santorini greece mi soon fawud'],
 [0.0, 'salut je te pr sente'],
 [0.0, 'rt santorini sunset'],
 [0.0,
  'rt carter c est un ouf il fait des directs twitter sur le mercato alors qu il est santorini'],
 [0.0, 'tout pour dire que t es bel et bien une merde'],
 [0.0, 'rt santorini sunset'],
 [0.0, 'cuando llegues la orilla del mar ba arte ya est amaneciendo'],
 [0.0, 'i don t wanna text let s go santorini greece']]

In [25]:
sentiment_df = pd.DataFrame(sentiment_values, columns=["polarity", "tweet"])

In [26]:
sentiment_df.head()

   polarity                                              tweet
0       0.0                                rt santorini sunset
1       0.0                                rt santorini sunset
2       0.0                                rt santorini sunset
3       0.4  rt m y estia zeus see brochure 74ft 2003 2021 ...
4       0.0    i d rather be santorini laying beach tanning rn

In [27]:
sentiment_df.polarity.value_counts()

 0.000000    431
 0.500000     10
 0.200000      7
-0.500000      5
 0.136364      4
-0.166667      4
 0.850000      3
-0.125000      3
 0.900000      3
 0.285714      2
-0.625000      2
 0.700000      2
-0.100000      2
 0.250000      2
 0.150000      1
 0.125000      1
 0.625000      1
 1.000000      1
 0.433333      1
-0.150000      1
 0.333333      1
-0.025000      1
 0.416667      1
 0.400000      1
 0.100000      1
 0.350000      1
 0.087500      1
-0.200000      1
 0.418182      1
-0.050000      1
 0.450000      1
 0.100000      1
 0.104762      1
 0.275000      1
Name: polarity, dtype: int64